# ignoring system R Studio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rproj
DPhil_RECOVERY.Rproj
Thumbs.db
Outputs/
Workspace/
Temporary directory/
Misc/
Tools/*
!Tools/Codelists/
.gitignore
README.md